# App
NODE_ENV=development

# API
API_PORT=3000
JWT_SECRET=change_me

# ML Service
ML_SERVICE_PORT=8000

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=powerlifting

# Redis
REDIS_PORT=6379

# Storage
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
